# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Large AI model files
*.pt
*.pth
*.h5
*.keras

# Training output folders
runs/
outputs/

# Dataset folders
dataset/
datasets/
data/
